*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5a5858;
  color: #b7b3b3;
}

.cont {
  --size: 200px;
  margin: 30px auto;
  width: var(--size);
  height: var(--size);
  padding: 20px;
  border: 5px solid rgb(20% 50% 50% / 70%);
  border-radius: 10%;
  background-color: #b7b3b3;

  &[data-activo] {
    background-color: indigo;
  }

  &[data-activo="siempre"] {
    background-color: navy;
  }


}