*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5a5858;
  color: #b7b3b3;
}

main {
  width: 500px;
  margin: 30px auto;
  text-align: center;
  font-size: 1.5rem;
}

.myBtn {
  width: 100px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 2px solid bisque;

  &:hover {
    cursor: pointer;
  }
}